@import "./imports/_vars_imports";

#dashboard {
  width: 100%;
  height: 100%;
  background-color: #1b2a78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .dashboard_nav {
    z-index: 1;
    background-color: $primary_color;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    .dashboard_nav_header {
      float: left;
      margin-left: 10px;
      .dashboard_nav_header_text {
        font-family: $fonts;
        color: white;
        font-size: 48px;
        letter-spacing: 10px;
        text-transform: uppercase;
      }
    }
    .dashboard_nav_menu {
      float: right;
      margin-right: 10px;
      .dashboard_nav_menu_button {
        font-size: 48px;
        color: white;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
          color: $secondary_color;
        }
      }
      .dashboard_nav_menu_button[data-isopen=""] {
        color: $secondary_color;
        transform: rotate(90deg);
        transform-origin: center center;
      }
    }
  }
  #password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    .password_input {
      width: 100%;
      text-align: center;
      font-family: $fonts;
      font-weight: bold;
      padding: 5px;
      outline: none;
      border: 3px solid $primary_color;
      background-color: $primary_color !important;
      border-radius: 7px;
      color: $secondary_color;
      font-size: 18px;
      transition: all ease-in-out 0.2s;
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
      &:hover {
        border-color: $secondary_color;
      }
      &[readonly=""] {
        color: $red;
        border-color: $red;
      }
    }
  }
  #output {
    width: 90%;
    .output_field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      padding: 1em;
      margin-bottom: 25px;
      width: 100%;
      background: rgb(34, 34, 168);
      background: linear-gradient(
        159deg,
        rgba(34, 34, 168, 1) 0%,
        rgba(26, 78, 186, 1) 50%,
        rgba(11, 169, 184, 1) 100%
      );
      background: rgb(34, 34, 168);
      background: linear-gradient(
        159deg,
        rgba(34, 34, 168, 1) 0%,
        rgba(26, 78, 186, 1) 65%,
        rgba(11, 169, 184, 1) 100%
      );
      .output_field_text {
        font-family: $fonts;
        color: #fff;
      }
      .output_field_password {
        font-family: $fonts;
        font-weight: bold;
        width: 100%;
        padding: 5px;
        outline: none;
        border: 3px solid $primary_color;
        background-color: $primary_color;
        border-radius: 7px;
        color: $secondary_color;
        font-size: 16px;
        transition: all ease-in-out 0.2s;
        &[type="password"] {
          cursor: pointer;
          color: $primary_color;
          &:hover {
            border-color: $secondary_color;
          }
        }
      }
      .output_field_wrapper {
        width: 25%;
        margin: 0 10px;
      }
    }
  }
}

#drawer {
  transition: all ease-in-out 0.2s;
  transform: translateX(-100%);
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: lighten($primary_color, 10%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(10, 10, 10, 0.6);
  -moz-box-shadow: 0px 0px 10px 5px rgba(10, 10, 10, 0.6);
  box-shadow: 0px 0px 10px 5px rgba(10, 10, 10, 0.6);
  .drawer_opt {
    width: 100%;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: all ease-in-out 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25em 0;
    cursor: pointer;
    .drawer_opt_icon {
      font-size: 36px;
      color: white;
      margin: 0 10px;
    }
    .drawer_opt_name {
      font-size: 24px;
      color: white;
      font-family: $fonts;
    }
    &:hover {
      border-bottom-color: $secondary_color;
      border-top-color: $secondary_color;
    }
  }
}

.open {
  transform: translateX(0) !important;
}

#error_handler_wrapper {
  width: 100%;
  #error_handler {
    transform: translateY(100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: $red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: showErrors 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    .error_handler_x {
      color: white;
      font-size: 56px;
      margin-right: 20px;
    }
    .error_handler_output {
      display: flex;
      flex-direction: column;
      .error_handler_output_line {
        margin: 0;
        font-family: $fonts;
        color: white;
        margin-left: 20px;
        font-size: 18px;
      }
    }
  }
}

@keyframes showErrors {
  5% {
    transform: translateY(100%);
  }
  5% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(100%);
  }
}

#add_field {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $secondary_color;
  padding: 0.35em 1em;
  border-radius: 5px;
  color: $primary_color;
  .add_field_text {
    font-size: 18;
    font-family: $fonts;
    margin-right: 5px;
    font-weight: bold;
  }
  .add_field_icon {
    font-size: 32px;
    margin-left: 5px;
  }
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-color: $primary_color;
    color: white;
  }
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}

#modal {
  transition: all ease-in-out 0.3s;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: darken($secondary_color, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .modal_close_btn {
    position: absolute;
    color: white;
    font-size: 48px;
    top: 10px;
    right: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    &:hover {
      transform-origin: center center;
      transform: rotate(135deg);
      color: $primary_color;
    }
  }
  .modal_inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .modal_input,
    .modal_submit_btn {
      height: 36px;
      text-align: center;
      padding: 0;
      width: 100%;
      border: 3px solid $primary_color;
      font-family: $fonts;
      font-size: 18px;
    }
    .modal_input {
      &::placeholder {
        font-weight: bold;
      }
    }
    margin-bottom: 10px;
  }
  .modal_inputs--text {
    flex-direction: row;
    justify-content: space-between;
    .modal_input {
      width: 49%;
      &:first-child {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }
    }
  }
  .modal_input--password {
    // 3px is the border size being deducted in the form of negative padding
    // 3px * 2 sides => 6px
    width: calc(100% - 6px) !important;
  }
  // Uncomment when done
  transform: translateX(100%);
}

.open_modal {
  transform: translateX(0) !important;
}
