@import "./imports/_vars_imports";

#registration {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  #registration_info {
    background-color: $primary_color;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .registration_info_header {
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 48px;
      font-family: $fonts;
      color: white;
    }
    .registration_info_text {
      font-size: 26px;
      color: white;
      font-family: $fonts;
      text-align: center;
    }
  }
  #registration_form {
    background-color: #fff;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .registration_form_wrapper {
      width: 90%;
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      .div1 {
        grid-area: 1 / 1 / 2 / 3;
      }
      .div2 {
        grid-area: 1 / 4 / 2 / 6;
      }
      .div3 {
        grid-area: 3 / 1 / 4 / 6;
      }
      .div4 {
        grid-area: 5 / 1 / 6 / 3;
      }
      .div5 {
        grid-area: 5 / 4 / 6 / 6;
      }
      .div6 {
        grid-area: 6 / 1 / 6 / 6;
      }
    }
    .registration_form_input {
      display: flex;
      flex-direction: column;
      label {
        font-family: $fonts;
        margin-bottom: 10px;
        font-size: 18px;
      }
      input {
        padding: 0;
        height: 36px;
        padding: 5px 10px;
        border: 3px solid rgb(168, 168, 168);
        border-radius: 10px;
        transition: all ease-in-out 0.1s;
        font-family: $fonts;
        &:focus {
          border-color: $primary_color;
        }
      }
    }
    .registration_form_submit {
      display: block;
      margin-top: 25px;
      outline: none;
      background-color: white;
      border-radius: 10px;
      transition: all ease-in-out 0.1s;
      font-family: $fonts;
      font-size: 20px;
      color: black;
      border: 3px solid $primary_color;
      cursor: pointer;
      &:hover {
        background-color: $primary_color;
        color: white;
      }
    }
    .registration_form_submit[disabled=""] {
      background-color: $red;
      border-color: $red;
      color: white;
      &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
      }
    }
  }
}

#error_handler_wrapper {
  width: 100%;
  #error_handler {
    transform: translateY(100%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: $red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: showErrors 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    .error_handler_x {
      color: white;
      font-size: 56px;
      margin-right: 20px;
    }
    .error_handler_output {
      display: flex;
      flex-direction: column;
      .error_handler_output_line {
        margin: 0;
        font-family: $fonts;
        color: white;
        margin-left: 20px;
        font-size: 18px;
      }
    }
  }
}

@keyframes showErrors {
  5% {
    transform: translateY(100%);
  }
  5% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(100%);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 1px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
