<div id="drawer">
  <div class="drawer_opt" data-profile="true">
    <i class="fas fa-user-circle drawer_opt_icon"></i>
    <p class="drawer_opt_name">{{firstName}} {{lastName}}</p>
  </div>
  <div class="drawer_opt" data-animated="true" data-opt="settings" id="open_settings">
    <i class=" fas fa-cog drawer_opt_icon"></i>
    <p class="drawer_opt_name">Settings</p>
  </div>
  <div class="drawer_opt" id="logout" data-animated="true">
    <i class=" fas fa-sign-out-alt drawer_opt_icon"></i>
    <p class="drawer_opt_name">Log Out</p>
  </div>
</div