<div id="settings">
  <i id="settings_close_btn" class="settings_close_btn fas fa-times"></i>
  <div class="settings_buttons">
    <button id="settings_delete_vault" class="settings_buttons_button">Delete Vault</button>
    <button id="settings_delete_account" class="settings_buttons_button">Delete Account</button>
  </div>
</div>