@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  body #landing {
    background-color: #031130;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body #landing .landing_header {
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 48px; }
    body #landing .landing_box_wrapper {
      display: flex;
      flex-direction: row;
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      body #landing .landing_box_wrapper .landing_box {
        border: 3px solid white;
        margin: 10px 20px;
        padding: 2em 3em;
        transition: all ease-in-out 0.2s; }
        body #landing .landing_box_wrapper .landing_box .landing_box_link .landing_box_link_text {
          transition: all ease-in-out 0.2s;
          text-decoration: none;
          color: white;
          font-size: 32px;
          cursor: pointer; }
        body #landing .landing_box_wrapper .landing_box .landing_box_link .landing_box_link_arrow {
          transition: all ease-in-out 0.2s;
          font-size: 28px;
          margin-left: 10px; }
        body #landing .landing_box_wrapper .landing_box:hover {
          border-color: #04d9ed; }

.hovering {
  color: #04d9ed; }
