@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// $primary_color: #031130;
// $secondary_color: #04d9ed;
// $blue: #0c44c0;
$primary_color: #295189;
$light_primary: lighten($primary_color, 10%);
$lighter_primary: lighten($primary_color, 20%);
$dark_primary: darken($primary_color, 10%);
$darker_primary: darken($primary_color, 20%);
$secondary_color: #3392ff;
$blue: #0077ff;
$red: rgb(209, 15, 15);
$fonts: "Montserrat", Arial, Helvetica, sans-serif;
$navbar_height: 60px;
