@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$primary_color: #031130;
$secondary_color: #04d9ed;
$red: rgb(226, 34, 34);
$fonts: "Montserrat", Arial, Helvetica, sans-serif;
$navbar_height: 60px;
