<div id="dashboard">
  <link rel="stylesheet" href="/css/dashboard.css">
  <nav class="dashboard_nav">
    <div class="dashboard_nav_header">
      <h1 class="dashboard_nav_header_text">Sentinel</h1>
    </div>
    <div class="dashboard_nav_menu">
      <i class="fas fa-bars dashboard_nav_menu_button"></i>
    </div>
  </nav>
</div>