<div id="dashboard">
  <nav class="dashboard_nav">
    <div class="dashboard_nav_header">
      <h1 class="dashboard_nav_header_text">Sentinel</h1>
    </div>
    <div class="dashboard_nav_menu">
      <i id="dashboard_nav_menu_button" class="fas fa-bars dashboard_nav_menu_button"></i>
    </div>
  </nav>
  <div id="password">
    <input type="password" class="password_input" id="password_input" placeholder="Master Password:">
  </div>
  <div id="output">

  </div>
</div>

<div id="drawer">
  <div class="drawer_opt">
    <i class="fas fa-user-circle drawer_opt_icon"></i>
    <p class="drawer_opt_name">{{firstName}} {{lastName}}</p>
  </div>
  <div class="drawer_opt">
    <i class="fas fa-cog drawer_opt_icon"></i>
    <p class="drawer_opt_name">Settings</p>
  </div>
  <div class="drawer_opt" id="logout">
    <i class="fas fa-sign-out-alt drawer_opt_icon"></i>
    <p class="drawer_opt_name">Log Out</p>
  </div>
</div>

<div id="add_field">
  <p class="add_field_text">Add Field</p>
  <i class="fas fa-plus-square add_field_icon"></i>
</div>

<div id="error_handler_wrapper"></div>

<div id="modal">
  <i id="modal_close_btn" class="modal_close_btn fas fa-times"></i>
  <div class="modal_inputs modal_inputs--text">
    <input type="text" class="modal_input" id="modal_input_emailOrUsername" placeholder="Email or username:">
    <input type="text" class="modal_input" id="modal_input_service" placeholder="Service:">
  </div>
  <div class="modal_inputs">
    <input type="password" class="modal_input modal_input--password" id="modal_input_password" placeholder="Password:">
  </div>
  <div class="modal_inputs modal_inputs--submit">
    <button id="modal_submit_btn" class="modal_submit_btn">Submit</button>
  </div>
</div>