<div id="dashboard">
  <link rel="stylesheet" href="/css/dashboard.css">
  <nav class="dashboard_nav">
    <div class="dashboard_nav_header">
      <h1 class="dashboard_nav_header_text">Sentinel</h1>
    </div>
    <div class="dashboard_nav_menu">
      <i id="dashboard_nav_menu_button" class="fas fa-bars dashboard_nav_menu_button"></i>
    </div>
  </nav>
</div>

<div id="drawer">
  <div class="drawer_opt">
    <i class="fas fa-user-circle drawer_opt_icon"></i>
    <p class="drawer_opt_name">Test User</p>
  </div>
  <div class="drawer_opt">
    <i class="fas fa-cog drawer_opt_icon"></i>
    <p class="drawer_opt_name">Settings</p>
  </div>
  <div class="drawer_opt">
    <i class="fas fa-sign-out-alt drawer_opt_icon"></i>
    <p class="drawer_opt_name">Log Out</p>
  </div>
</div>

<script src="/js/dashboard.js"></script>