<div id="dashboard">
  <nav class="dashboard_nav">
    <div class="dashboard_nav_header">
      <h1 class="dashboard_nav_header_text">Sentinel</h1>
    </div>
    <div class="dashboard_nav_menu">
      <i id="dashboard_nav_menu_button" class="fas fa-bars dashboard_nav_menu_button"></i>
    </div>
  </nav>
  <div id="password">
    <label id="password_label" class="password_label"></label>
    <input type="password" class="password_input" id="password_input" placeholder="Master Password:">
  </div>
</div>

{{> dashboard/modal }}

{{> dashboard/settings }}

{{> dashboard/output }}

{{> dashboard/add_field }}

{{> dashboard/drawer }}

{{> error_handler }}