<div id="landing">
  <h1 class="landing_header">Sentinel</h1>
  <div class="landing_box_wrapper">
    <div class="landing_box"><a href="/register" class="landing_box_link">Register</a>
      <p class="landing_box_text">Click here to create your account!</p>
    </div>
    <div class="landing_box"><a href="/login" class="landing_box_link">Login</a>
      <p class="landing_box_text">Already a member? Click here to log into your account!</p>
    </div>
  </div>
</div>