<div id="authentication">
  <div id="authentication_info">
    <h1 class="authentication_info_header">Sentinel</h1>
    <p class="authentication_info_text">Welcome back <br></br> to your favorite open-souce password manager!</p>
  </div>
  <div id="authentication_form">

    <div class="authentication_form_wrapper" data-view="login">

      <div class="authentication_form_input div1">
        <label>Email address:</label>
        <input id="email_input" type="text">
      </div>

      <div class="authentication_form_input div2">
        <label>Password:</label>
        <input id="password_input" type="password">
      </div>

      <button class="authentication_form_submit div3" id="submit_button">Login</button>

    </div>

  </div>
</div>

<div class="authentication_footer">
  <p class="authentication_footer_text">You don't have an account? Click <a href="/register">here</a> to register!
  </p>
</div>

{{> error_handler }}