<link rel="stylesheet" href="/css/register.css">
<div id="registration">
  <div id="registration_info">
    <h1 class="registration_info_header">Sentinel</h1>
    <p class="registration_info_text">You are a few moments away <br></br> from using your new, favorite open-souce
      password
      manager!</p>
  </div>
  <div id="registration_form">

    <div class="registration_form_wrapper">

      {{!-- First and last name --}}
      <div class="registration_form_input div1">
        <label>First name:</label>
        <input type="text">
      </div>
      <div class="registration_form_input div2">
        <label>Last name:</label>
        <input type="text">
      </div>

      {{!-- Email --}}
      <div class="registration_form_input div3">
        <label>Email address:</label>
        <input type="text">
      </div>

      {{!-- Password --}}
      <div class="registration_form_input div4">
        <label>Password:</label>
        <input type="password">
      </div>
      <div class="registration_form_input div5">
        <label>Confirm password:</label>
        <input type="password">
      </div>

    </div>

  </div>
</div>