<div id="authentication">
  <div id="authentication_info">
    <h1 class="authentication_info_header">Sentinel</h1>
    <p class="authentication_info_text">You are a few moments away <br></br> from using your new, favorite open-souce
      password
      manager!</p>
  </div>
  <div id="authentication_form">

    <div class="authentication_form_wrapper" data-view="register">

      <div class="authentication_form_input div1">
        <label>First name:</label>
        <input id="first_name_input" type="text">
      </div>
      <div class="authentication_form_input div2">
        <label>Last name:</label>
        <input id="last_name_input" type="text">
      </div>

      <div class="authentication_form_input div3">
        <label>Email address:</label>
        <input id="email_input" type="text">
      </div>

      <div class="authentication_form_input div4">
        <label>Password:</label>
        <input id="password_input" type="password">
      </div>
      <div class="authentication_form_input div5">
        <label>Confirm password:</label>
        <input id="confirm_password_input" type="password">
      </div>

      <button class="authentication_form_submit div6" id="submit_button">Register</button>

    </div>

  </div>
</div>

<div class="authentication_footer">
  <p class="authentication_footer_text">Got an account? Click <a href="/login">here</a> to log in!
  </p>
</div>

<div id="error_handler_wrapper"></div>